<%= form_with(model: publicacione) do |form| %>
  <% if publicacione.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(publicacione.errors.count, "error") %> prohibited this publicacione from being saved:</h2>

      <ul>
        <% publicacione.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_field :descripcion %>
  </div>

  <div>
    <%= form.label :usuario, style: "display: block" %>
    <%= form.select :client_id, options_for_select(@clients) %>
  </div>

  <div>
    <%= form.submit,  class: "btn btn-primary border-dark"%>
  </div>
<% end %>
