<p style="color: green"><%= notice %></p>

<%= render @publicacione %>

<div>
  <%= link_to "Editar", edit_publicacione_path(@publicacione), class: "btn btn-success border-dark" %> |
  <%= link_to "regrasar a todas las publicaciones", publicaciones_path, class: "btn btn-success border-dark" %>

  <%= button_to "Eliminar", @publicacione, method: :delete, class: "btn btn-danger border-dark" %>
</div>
